$bg: #F2DEBD;
$font-color: #386F63;
$big-font: 3.5em;
$fade-out-time: 2500ms;

@font-face {
    font-family: 'great_victorianstandard';
    src: url('../fonts/greatvictorian-kit/greatvictorian-standard-webfont.woff2') format('woff2'),
         url('../fonts/greatvictorian-kit/greatvictorian-standard-webfont.woff') format('woff'),
         url('../fonts/greatvictorian-kit/greatvictorian-standard-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metal_macabreregular';
    src: url('../fonts/metal-kit/metalmacabre-webfont.woff2') format('woff2'),
         url('../fonts/metal-kit/metalmacabre-webfont.woff') format('woff'),
         url('../fonts/metal-kit/metalmacabre-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin: 0;
  color: $font-color;
  font-family: 'great_victorianstandard';
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: $bg;
  font-size: $big-font;
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.left-column {
  grid-column-start: 1;
}

.right-column {
  grid-column-start: 3;
}

.links {
  font-family: sans-serif;
  font-size: .25em;
  position: fixed;
  right: 20px;
  bottom: 5px;
}

.links > a {
  margin: 2px;
  color: gray !important;
}

.links > a:visited {
  color: gray !important;
}

.goblin-font {
  font-family: 'metal_macabreregular';
  font-size: .7em;
}

.verses {
  grid-column-start: 2;
  position: relative;

}

.verse {
  color: $bg; // start invisible
  transition: $fade-out-time;
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.one {
  //color: $font-color;
  z-index: 100;
}

.two {
  z-index: 99;
}

.three {
  z-index: 98;
}

.four {
  z-index: 97;
}

.five {
  z-index: 96;
}

.six {
  z-index: 95;
}

.seven {
  z-index: 94;
}

.eight {
  z-index: 93;
}

.nine {
  z-index: 92;
}

.ten {
  z-index: 91;
}

.eleven {
  z-index: 90;
}

.twelve {
  z-index: 89;
}
